@model IEnumerable<FelicanoWeb.Models.About>


<div>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_3.jpg');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate text-center mb-4">
                    <h1 class="mb-2 bread">About</h1>
                    
                </div>
            </div>
        </div>
    </section>
    @if (Model.Count() > 0)
    {
        <section class="ftco-section ftco-wrap-about">
            <div class="container">
                <div class="row">
                    @foreach (var about in Model)
                    {
                        <div class="col-md-7">
                            <img src="@about.ImageUrl" style="width:90%;">
                        </div>
                        <div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
                            <div class="heading-section mb-4 my-5 my-md-0">
                                <span class="subheading">About</span>
                                <br />
                                <h2 class="mb-4">@about.Title</h2>
                                <p>
                                    @about.Content
                                </p>
                            </div>
                            <p class="time">
                                <span>Mon - Fri <strong>8 AM - 11 PM</strong></span>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    else
    {
        <p>Không tìm thấy trong database!</p>
        <a asp-action="Index" class="btn btn-success">Back</a>
    }
</div>


